@import "../../../style/variables.scss";


.create-event-form {
    padding: 20px;
    @media only screen and (min-width: 1441px){
        padding: 40px 20px;
    }
    .form-btn{
        position: static;
        @media only screen and (min-width: 1200px){
            padding-left: 40px;
            padding-right: 40px;
        }
        @media only screen and (min-width: 1441px){
            padding-left: 64px;
            padding-right: 64px;
        }
    }
    .link-wrapper{
        .link{
            color: $tertiary;
            cursor: pointer;
            transition: all 0.4s;
            &:hover{
                color: $primary;
                transition: all 0.4s;
            }
        }
    }
    .event-form-wrap {
        gap: 30px;
        @media only screen and (min-width: 1441px){
            gap: 40px;
        }
        .form-details-left {
            position: relative;
            @media only screen and (min-width: 1200px){
                &::after {
                    content: "";
                    position: absolute;
                    width: 1px;
                    height: 100%;
                    background-color: $dust;
                    top: 0;
                    right: -15px;
                    @media only screen and (min-width: 1441px){
                        right: -20px;
                    }
                }
            }

        }
        .event-image-box {
            height: 120px;
            background-color: $LightCream;
            border: 1px dashed $mainBorder;
            display: flex;
            position: relative;
            cursor: pointer;
            @media only screen and (min-width: 1441px){
                height: 150px;
            }
            i {
                margin-bottom: 10px;
                font-size: 14px;
                color: $primary;
                @media only screen and (min-width: 1200px){
                    font-size: 16px;
                }
            }
            span {
                display: block;
                font-size: 18px;
                line-height: 26px;
                color: $primary;
                @media only screen and (min-width: 1200px){
                    font-size: 20px;
                }
                @media only screen and (min-width: 1441px){
                    font-size: 22px;
                }
            }
            input {
                position: absolute;
                width: 100%;
                height: 100%;
                opacity: 0;
                left: 0;
                top: 0;
                cursor: pointer;

            }
        }
        .event-images {
            gap: 10px;
            @media only screen and (min-width: 1441px){
                gap: 20px;
            }
            li {
                width: calc(50% - 10px);
                height: 170px;
                overflow: hidden;
                position: relative;
                background-color: $LightCream;
                display: flex;
                justify-content: center;
                align-items: center;
                @media only screen and (max-width: 480px){
                    width: 100%;
                }
                @media only screen and (min-width: 768px){
                    width: calc(33.33% - 10px);
                }
                @media only screen and (min-width: 1200px){
                    width: calc(50% - 10px);
                }
                @media only screen and (min-width: 1441px){
                    width: calc(33.33% - 20px);
                }
                @media only screen and (min-width: 1600px){
                    height: 200px;
                }
                img {
                    object-fit: cover;
                    width: 100%;
                    height: 100%;
                }
                .event-image-box {
                    width: 100%;
                    height: 100%;
                    margin: 0;
                    i {
                        font-size: 14px;
                    }
                    span {
                        font-size: 18px;
                    }
                }

                .event-video-box{
                    width: 100%;
                    height: 100%;
                    overflow: hidden;
                    position: relative;
                    border: none;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    video{
                        width: 100%;
                        height: 100%;
                    }
                }
            }

        }

        .img-or-video-box-wrapper{
            position: relative;
            input[type="file"]{
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    display: block !important;
                    opacity: 0;
                    left: 0;
                    top: 0;
                    cursor: pointer;
                &:focus + .event-image-box{
                    border: 1px solid $primary;
                }
            }
        }
    }
    .event-images{
        &.uploaded-event-images{
            li{
                border: 1px dashed $mainBorder;
            }
        }
        li{
            position: relative;
            .delete-icon-btn{
                position: absolute;
                top: 8px;
                right: 8px;
                width: 17px;
                height: 17px;
                font-size: 18px !important;
                color: $primary;
                background-color: $white;
                border-radius: 50%;
                margin-bottom: 0;
                cursor: pointer;
                z-index: 2;
                transition: 0.3s ease-in-out;
                &:hover{
                    color: $tertiary;
                }
            }
        }
        .img-or-video-box-wrapper{
            width: 100%;
            height: 100%;
            .event-image-box{
                position: relative;
                &::after{
                    content: '';
                    position: absolute;
                    left: 0;
                    top: 0;
                    width: 100%;
                    height: 100%;
                    outline: 1px solid $primary;
                    opacity: 0;
                }
                &:focus-within::after{
                    opacity: 1;
                }
            }
        }
    &.uploaded-event-images{
        margin-top: 10px;
    }
    }
    .email-editor{
        .ck-editor{
            .ck-editor__editable{
                min-height: 220px;
                max-height: 350px;
            }
        }

    }
    .price-select{
        height: 40px;
        @media only screen and (min-width: 1441px){
            height: 52px;
        }
        &.active {
            .select-menu-list{
                transform: translateY(44px);
                @media only screen and (min-width: 1441px){
                    transform: translateY(54px); 
                }
            }
        }
    }
}
