@import '../../../style/variables.scss';

.event-booking{
    .date-filter-head{
        border-bottom: 1px solid $mainBorder;
        padding: 30px 20px;
    }
    .protected-head {
        .dashboard-form-btn{
            min-width: auto;
            position: static;
        }
        .date-filter-bar{
            padding: 0;
            .input-group{
                margin: 0;
            }
            label{
                font-size: 14px;
                line-height: 22px;
                flex-shrink: 0;
                @media only screen and (min-width: 640px) {
                    font-size: 16px;
                }
            }
            .status-input{
                width: 170px;
            }
            input[type=search]{
                background-color: $LightCream;
            }
            .dashboard-form-btn{
                @media only screen and (min-width: 1441px){
                    min-width: 120px;
                }
            }
            input{
                font-size: 14px;
                height: 40px;
                @media only screen and (min-width: 640px) {
                    padding-top: 5px;
                    padding-bottom: 5px;
                }
                @media only screen and (min-width: 1441px) {
                    font-size: 20px;
                    height: 52px;
                }
            }
            .custom-select{
                .select-btn{
                    height: 40px;
                    font-size: 14px;
                    padding-top: 5px;
                    padding-bottom: 5px;
                    @media only screen and (min-width: 640px){
                        font-size: 16px;

                    }
                    @media only screen and (min-width: 1441px) {
                        font-size: 20px;
                        height: 52px;
                    }
                }
                .select-menu-list {
                    ul {
                        li{
                            font-size: 14px;
                            @media only screen and (min-width: 640px) {
                                font-size: 16px;
                            }
                        }
                    }
                }
            }
            .dashboard-form-btn{
                font-size: 14px;
                height: 40px;
                @media only screen and (min-width: 640px) {
                    font-size: 16px;
                    padding-top: 5px;
                    padding-bottom: 5px;
                }
                @media only screen and (min-width: 1441px) {
                    font-size: 20px;
                    height: 52px;
                }
            }
        }
        .card-action {
            margin: 0;
            .link{
                font-size: 16px;
                gap: 6px;
                height: 40px;
                @media only screen and (min-width: 640px) {
                    gap: 10px;
                }
                @media only screen and (min-width: 1441px) {
                    font-size: 22px;
                    height: 52px;
                }
                i{
                    font-size: 18px;
                    @media only screen and (min-width: 1441px) {
                        font-size: 24px;
                    }
                }
            }
        }
    }
    .custom-table{
        .icon-EUR{
            font-size: 10px;
            @media only screen and (min-width: 1441px){
                font-size: 14px;
            }
        }
        .icon-USD{
            font-size: 11px;
            display: inline-block;
            @media only screen and (min-width: 1441px){
                font-size: 14px;
            }
        }
        .icon-CHF{
            font-size: 10px;
            @media only screen and (min-width: 1441px){
                font-size: 13px;
            }
        }
    }
}