$primary: #B09684;
$secondary: #D0BCAE;
$tertiary: #FD9E55;
$mainText: #000;
$darkGrey: #585858;
$lightGrey: #868686;
$dust: #E6D8C5;
$lightOrange: #FFF5EE;
$LightCream: #F8F6F4;
$mainBorder: #E6D8C5;
$orangeBorder: #FD9E55;
$white: #fff;
$btnText: #2D2D2D;
$btnBorder: #2D2D2D;
$red: #F96E66;
$green: #18C06E;