@import "../../style/variables.scss";
.auth-wrapper {
    .auth-card {
        .auth-form-wrapper {
            .signup{
                .form-wrapper {
                    .solid-btn {
                        margin-top: 10px;
                        @media only screen and (min-width: 1441px) {
                            margin-top: 15px;
                        }
                    }
                    .small-text {
                        margin-top: 10px;
                        @media only screen and (min-width: 1441px) {
                            margin-top: 15px;
                        }
                    }
                }
            }
        }
    }
}
.signup {
    .auth-title {
        margin-bottom: 20px;
    }
    .form-wrapper {
        .user-profile {
            width: 65px;
            height: 65px;
            background: $mainBorder;
            border-radius: 50%;
            margin: 0 auto 20px;
            position: relative;
            @media only screen and (min-width: 1600px) {
                width: 80px;
                height: 80px;
            }
            .error-msg{
                white-space: nowrap;
                left: 50%;
                transform: translateX(-50%);
            }
            .icon-user-profile {
                font-size: 28px;
                @media only screen and (min-width: 1600px) {
                    font-size: 32px;
                }
            }
            img {
                width: 100%;
                height: 100%;
                border-radius: 50%;
                object-fit: cover;
            }
            .profile-change {
                position: absolute;
                width: 25px;
                height: 25px;
                background: $tertiary;
                border-radius: 50%;
                right: 0;
                bottom: 0;
                cursor: pointer;
                z-index: 1;
                @media only screen and (min-width: 1600px) {
                    width: 30px;
                    height: 30px;
                }
                i {
                    cursor: pointer;
                    font-size: 14px;
                    margin-left: 1px;
                    color: $white;
                    @media only screen and (min-width: 1600px) {
                        font-size: 16px;
                        margin-left: 3px;
                    }
                }
                input[type="file"] {
                    opacity: 0;
                    cursor: pointer;
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    border-radius: 50%;
                    left: 0;
                    top: 0;
                    padding: 0;
                }
                input[type="file"]::-webkit-file-upload-button {
                    cursor:pointer;
                }
            }
            .error-msg{
                white-space: nowrap;
            }
        }
        .custom-row {
            @media only screen and (min-width: 1024px) {
                gap: 15px;
            }
            @media only screen and (min-width: 1200px) {
                gap: 20px;
            }
            .input-group {
                margin-bottom: 20px;
            }
        }
    }
}
