@import '../../../../style/variables.scss';

.card-details{
    gap: 32px;
    flex-wrap: wrap;
    @media only screen and (min-width: 1024px) {
        flex-wrap: nowrap;
    }
    .adyen-checkout__paywithgoogle{
        width: 100%;
    }
    .credit-card-box{
        background: $LightCream;
        overflow: hidden;
        .title{
            font-size: 18px;
            line-height: 1.3;
            color: $btnText;
            @media only screen and (min-width: 1200px) {
                font-size: 22px;
                line-height: 26px;
            }
            @media only screen and (min-width: 1440px) {
                font-size: 26px;
                line-height: 30px;
            }
        }
        .top{
            border: 1px solid $mainBorder;
            border-bottom: 2px dashed $mainBorder;
            position: relative;
            padding: 20px 20px 38px;
            @media only screen and (min-width: 640px) {
                padding: 32px 32px 48px;
            }
            &::after,&::before{
                content: '';
                position: absolute;
                bottom: -20px;
                width: 40px;
                height: 40px;
                border-radius: 100%;
                border: 1px solid $mainBorder;
                background: $white;
                @media only screen and (min-width: 640px) {
                    bottom: -32px;
                    width: 64px;
                    height: 64px;
                }
            }
            &::after{
                left: -20px;
                @media only screen and (min-width: 640px) {
                    left: -32px;
                }
            }
            &::before{
                right: -20px;
                @media only screen and (min-width: 640px) {
                    right: -32px;
                }
            }
            .date{
                color: $primary;
                margin-bottom: 4px;
            }
            .time{
                color: $darkGrey;
            }
            .title{
                margin-bottom: 4px;
            }
            .title,.description{
                display: -webkit-box;
                -webkit-line-clamp: 2;
                -webkit-box-orient: vertical;
                overflow: hidden;
            }
            .time,.description{
                margin-bottom: 12px;
                @media only screen and (min-width: 1200px) {
                    margin-bottom: 16px;
                }
            }
            .description{
                line-height: 1.3;
            }
            .location{
                gap: 5px;
                color: $primary;
                i{
                    font-size: 20px;
                    @media only screen and (min-width: 640px) {
                        font-size: 24px;
                    }
                }
            }
        }
        .bottom{
            border: 1px solid $mainBorder;
            border-top: none;
            padding: 38px 20px 20px;
            @media only screen and (min-width: 640px) {
                padding: 48px 32px 32px;
            }
            .payment-list{
                li{
                    color: $lightGrey;
                    gap: 8px;
                    margin-bottom: 12px;
                    @media only screen and (min-width: 1200px) {
                        margin-bottom: 16px;
                    }
                    &:last-child{
                        margin: 0;
                    }
                    span{
                        color: $primary;
                    }
                    &.totle{
                        border-top: 2px dashed $mainBorder;
                        padding-top: 12px;
                        @media only screen and (min-width: 1200px) {
                            padding-top: 16px;
                        }
                        .totle-title{
                            font-size: 18px;
                            line-height: 1.3;
                            font-weight: 400;
                            margin: 0;
                            color: $primary;
                            @media only screen and (min-width: 768px) {
                                font-size: 20px;
                            }
                            @media only screen and (min-width: 1200px) {
                                font-size: 22px;
                            }
                            &.totle-amount{
                                font-weight: 700;
                            }
                        }
                    }
                }
            }
        }
    }
}
.freecard {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    .credit-card-box{
        width: 100%;
        max-width: 500px;
    }
}
.payment-card-body{
    width: 100%;
    .title{
        text-align: center;
        margin-bottom: 30px;
        color: $primary;
    }
    .policy-title{
        text-align: center;
        max-width: 80%;
        margin: 0 auto 20px;
        @media only screen and (min-width: 1024px){
            margin: 0 auto 24px;
        }
        .link{
            color: $tertiary;
            font-weight: 500;
            cursor: pointer;
            transition: all 0.4s;
            &:hover{
                color: $primary;
                transition: all 0.4s;
            }
        }
    }
    .payment-card{
        @media only screen and (min-width: 1024px){
            max-width: 700px;
            margin: auto;
        }
        .adyen-checkout__button{
            background: $primary;
            box-shadow: none;
            border: none;
            outline: none;
            &:hover{
                background: $tertiary;
            }
            &:focus{
                box-shadow: none; 
            }
        }
        .adyen-checkout__payment-method__radio--selected{
            background-color: $primary;
            &:hover{
                box-shadow: none;
            }
        }
        .adyen-checkout__label__text{
            font-size: 14px;
            line-height: 1.5;
            font-weight: 400;
            margin-bottom: 6px;
            display: block;
            color: $btnText;
            @media only screen and (min-width: 640px){
                font-size: 16px;
                margin-bottom: 8px;
            }
            @media only screen and (min-width: 1441px){
                font-size: 18px;
                line-height: 22px;
                margin-bottom: 10px;
            }
        }
        .adyen-checkout__input{
            font-size: 14px;
            font-weight: 400;
            padding: 8px 10px;
            border: 1px solid $mainBorder;
            color: $darkGrey;
            background-color: $white;
            border-radius: 0;
            width: 100%;
            height: 40px;
            box-shadow: none !important;
            &:focus{
                border-color: $primary;
            }
            @media only screen and (min-width: 640px){
                font-size: 16px;
                padding: 8px 16px;
            }
            @media only screen and (min-width: 1441px){
                height: 52px;
            }
            @media only screen and (min-width: 1600px){
                font-size: 22px;
                padding: 10px 20px;
            }
        }
        .adyen-checkout__input--focus, .adyen-checkout__input--focus:hover, .adyen-checkout__input:active, .adyen-checkout__input:active:hover, .adyen-checkout__input:focus, .adyen-checkout__input:focus:hover{
            border-color: $primary;
        }
        .adyen-checkout__payment-method:hover:not(.adyen-checkout__payment-method--selected) .adyen-checkout__payment-method__radio{
            box-shadow: none;
        }
        .adyen-checkout__payment-method--selected,
        .adyen-checkout__payment-method--next-selected, .adyen-checkout__payment-method:last-child,
        .adyen-checkout__payment-method--selected+.adyen-checkout__payment-method, .adyen-checkout__payment-method:first-child{
            border-radius: 0;
        }
        .adyen-checkout__payment-method{
            &:hover{
                border-color: $mainBorder; 
            }
        }
        .adyen-checkout__payment-method--selected{
            background: $LightCream;
            border-color: $mainBorder;
        }
    }
}
.payment-card{
    .adyen-checkout__field-wrapper{
        display: block;
        @media only screen and (min-width: 480px){
            display: flex;
        }
    }
    .adyen-checkout__field-wrapper>.adyen-checkout__field:nth-child(2){
        margin-left: 0;
        @media only screen and (min-width: 480px){
            margin-left: 8px;
        }
    }
    
}
